body {
    font-family: Poppins,  sans-serif; /* Font family */
    font-size: 12px; /* O tamanho da fonte principal<p></p> tag  */
    background-color: #e9c89de1; /* A cor do plano de fundo da página */
    color: #000000; /* A cor do texto */ 
}

h1 {
    color: #775700; /* A cor do cabeçalho */
    font-size: 24px; /* A cor da fonte do cabeçalho */
    font-family: Poppins, sans-serif; /* A font usada no cabeçalho*/
    font-variant: small-caps;
}

h1:hover {
    animation: color-change 3s infinite;
    transform: scale(1.01);
}

h2 {
    color: #6f4500;
    font-size: 18px;
}

@keyframes color-change {
    0% {color: #775700;}
    50% {color: #c47a00;}
    100% {color: #775700;}
}